/* .search_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.search_bar {
  max-width: 600px;
  width: 100%;
  margin: 0 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search_bar input {
  background: transparent;
  flex: 1;
  outline: 0;
  border: 0;
  /* padding: 2px 150px; */
  font-size: 20px;
}

.search_bar button {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.search_icon{
  display: none;
}


@media (max-width: 800px) {
  .search_bar {
    display: none;
  }

 
}


