.card-container {
  /* border: 1px solid grey; */
  border-radius: 10px;
  background-color: white;
  max-width: 250px;
  width: 100%;
  height: 420px;
  margin: 15px;
}
.card-container .card-element-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-container {
  /* display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative; */
  position: relative;
  height: 150px;
  width: 450px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image-style {
  padding: 3px;
  object-fit: contain;
  width: 200px;
  height: 150px;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.bottom {
  opacity: 0;
}

img.top:hover {
  opacity: 0.5;
}

.quick {
  z-index: 2;
  position: absolute;
  padding: 5px 10px;
  border-radius: 25px;
  border: 2px;
  margin-top: 60px;
  margin-left: 60px;
  display: none;
}

.rating-container {
  padding: 10px;
}

.text-ref {
  margin: 2px;
  padding: 0px;
  padding: 0px 10px;
  font-size: small;
}

.desc-ref {
  margin: 2px;
  padding: 0px 10px;
  height: 52px;
  font-size: small;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price-container {
  display: flex;
  margin: 2px;
  padding: 0px;
  padding: 0px 10px;
  font-size: small;
  justify-content: flex-start;
}

.price {
  margin-right: 5px;
  text-decoration: line-through;
}

.discounted {
  margin-left: 5px;
  font-weight: bold;
  color: red;
}

.from {
  color: grey;
}

.discount_tag {
  background-color: blanchedalmond;
  font-size: small;
  border-radius: 10px;
  position: absolute;
  left: 0.1px;
  bottom: 100px;
  padding: 10px;
  color: red;
  z-index: 1;
  /* margin: 15px 0 0 15px; */
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.add_to_cart_button {
  width: 90%;
  padding: 10px 0 10px 0;
  border-radius: 35px;
  background-color: white;
  font-weight: bold;
}

.add_to_cart_button:hover {
  background-color: turquoise;
  cursor: pointer;
  font-weight: bold;
}

.radio-container {
  display: flex;

  margin: 2px;
  padding: 0px 10px;
}

#radio-dark {
  accent-color: #000000;
  background-color: #000000;
  color: #000000;
}

.prev {
  transform: translateX(270px);
}

.next {
  transform: translateX(-270px);
}
